{% extends 'main/base.html' %}
{% load static %}
{% block page_content %}
    <img style="width: 100%" src="{% static 'images/KirovLab.jpg' %}" alt="Home page image">

    <div class="jumbotron">

        <div class="position-sticky">
{#            {% if user.is_physician %}#}
{#                <h3>Welcome Dr. {{ user.profile.full_name }}</h3>#}
{#                <a href="{% url 'all specific physician patients' user.pk %}" class="btn btn-primary btn-lg active"#}
{#                   role="button"#}
{#                   aria-pressed="true">Check Your Patients</a>#}
{#            {% endif %}#}
{#            {% if user.is_patient %}#}
{#                <h3>Welcome {{ user.profile.full_name }}</h3>#}
{#                <a href="{% url 'all patient specific results' user.pk %}" class="btn btn-primary btn-lg active"#}
{#                   role="button"#}
{#                   aria-pressed="true">Check Your Results</a>#}
{#            {% endif %}#}
{#            {% if user.is_staff %}#}
{#                <h3>Welcome {{ user.profile.full_name }}! You are logged in as a laboratory staff member</h3>#}
{#                <p>#}
{#                    <a href="{% url 'create user_as_patient' %}" class="btn btn-primary btn-lg active"#}
{#                       role="button"#}
{#                       aria-pressed="true">Register a new patients</a>#}
{#                </p>#}
{#                <p>#}
{#                    <a href="{% url 'all patients' %}" class="btn btn-primary btn-lg active"#}
{#                       role="button"#}
{#                       aria-pressed="true">See all patients</a>#}
{#                </p>#}
{#            {% endif %}#}
{#            {% if user.is_superuser %}#}
{#                <h3> You are also logged in as admin user </h3>#}
{#                <a href="{% url 'admin:index' %}" class="btn btn-primary btn-lg active"#}
{#                   role="button" aria-pressed="true">Admin panel</a>#}
{#            {% endif %}#}

            <h1 class="display-4">Welcome to KirovLab</h1>
            <p class="lead">Use our world-class medical diagnostic testing covering from basic routine testing to more
                advanced genetic testing.</p>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{% static 'images/screening_test.jpg' %}" class="img-responsive margin" style="width:100%"
                         alt="Screening Test Image">
                    <h2> Screening </h2>
                    <h4> What is screening? </h4>
                    <p class="lead">Screening is a way of finding out if people have a higher chance of having a health
                        problem, so that early treatment can be offered or information given to help them make informed
                        decisions.</p>
                    <h4> Screening results </h4>
                    <p>If you get a normal result (a screen negative result) after a screening test, this means you are
                        at low risk of having the condition you were screened for. This does not mean you will never
                        develop the condition in the future, just that you are low risk at the moment.

                        If you have a higher-risk result (a screen positive result), it means you may have the condition
                        that you've been tested for. At this point, you will be offered further tests (called diagnostic
                        tests) to confirm if you have the condition. You can then be offered treatment, advice and
                        support.

                        Finding out about a problem early can mean that treatment is more effective. However, screening
                        tests are not perfect and they can lead to difficult decisions about having further tests or
                        treatment.</p>
                    <a href="{% url 'all analyses' %}">Check our analyses</a>
                </div>

                <div class="col-sm-4">
                    <img src="{% static 'images/atherosclerosis_development.jpg' %}" class="img-responsive margin"
                         style="width:100%"
                         alt="Atherosclerosis Development Image">
                    <h2> High cholesterol </h2>
                    <h5> High cholesterol is linked with a higher risk of cardiovascular disease. </h5>
                    <h4> Screening results </h4>
                    <p>Cholesterol is a waxy substance found in your blood. Your body needs cholesterol to build healthy
                        cells, but high levels of cholesterol can increase your risk of heart disease. With high
                        cholesterol, you can develop fatty deposits in your blood vessels. Eventually, these deposits
                        grow, making it
                        difficult for enough blood to flow through your arteries. Sometimes, those deposits can break
                        suddenly and form a clot that causes a heart attack or stroke.

                        High cholesterol can be inherited, but it's often the result of unhealthy lifestyle choices,
                        which make it preventable
                        and treatable. A healthy diet, regular exercise and sometimes medication can help reduce
                        high cholesterol.

                        If you have a higher-risk result (a screen positive result), it means you may have the condition
                        that you've been tested for. At this point, you will be offered further tests (called diagnostic
                        tests) to confirm if you have the condition. You can then be offered treatment, advice and
                        support.

                        Finding out about a problem early can mean that treatment is more effective. However, screening
                        tests are not perfect and they can lead to difficult decisions about having further tests or
                        treatment.</p>
                    <p class="lead">IMPORTANT: High cholesterol has no symptoms! A blood test is the only way to detect
                        if you have it.</p>
                    <a href="{% url 'all analyses' %}">Check our analyses</a>

                </div>
                <div class="col-sm-4">
                    <img src="{% static 'images/NIPT.jpg' %}" class="img-responsive margin"
                         style="width:100%" alt="NIPT Image">
                    <h2> Prenatal Testing </h2>
                    <h4> Non-invasive prenatal testing </h4>
                    <p>As non-invasive prenatal testing becomes more advanced, questions of informed consent, clinical
                        utility and ethical concerns become more complicated for clinicians, and more anxiety-provoking
                        for parents, say experts.

                        Writing in the <a
                                href="https://www.mja.com.au/journal/2021/214/4/non-invasive-prenatal-testing-clinical-utility-and-ethical-concerns-about-recent">
                            MJA</a>
                        , Dr Joseph Thomas, a senior specialist in maternal–fetal medicine at Mater Health Services in
                        Brisbane, and colleagues said that non-invasive prenatal testing (NIPT), introduced in 2010, was
                        “revolutionary, with sensitivity, specificity and detection rates unmatched”.
                        “NIPT was found to achieve a detection rate for Down syndrome of 99.7%, with a false positive
                        rate of 0.04%,” Thomas and colleagues wrote.
                    </p>
                    <p>However, as the technology advanced, some NIPT providers started to offer extended panels and
                        low resolution whole genomic sequencing (WGS), including sex chromosome aneuploidies,
                        recurrent microdeletions, subchromosomal deletions and duplications.</p>
                    <p class="lead">“This comes at a cost of a higher false positive rate and lower positive predictive
                        value,” Thomas and colleagues wrote.</p>
                    <a href="{% url 'all analyses' %}">Check our analyses</a>
                </div>
                {#                #}
                {#                <div class="flex-row">#}
                {#                    <a href="{% url 'create user_as_patient' %}" class="btn btn-lg btn-secondary">Register new user as#}
                {#                        patient</a>#}
                {##}
                {#                    <a href="{% url 'health facility register' %}" class="btn btn-lg btn-secondary">Create new health#}
                {#                        facility</a>#}
                {##}
                {#                    <a href="{% url 'department register' %}" class="btn btn-lg btn-secondary">Create new department</a>#}
                {##}
                {#                    <a href="{% url 'position register' %}" class="btn btn-lg btn-secondary">Create new job position</a>#}
                {##}
                {#                    <a href="{% url 'all health facilities' %}" class="btn btn-lg btn-secondary">Show all health#}
                {#                        facilities</a>#}
                {##}
                {#                    <a href="{% url 'all deleted health facilities' %}" class="btn btn-lg btn-secondary">Show all#}
                {#                        deleted#}
                {#                        health facilities</a>#}
                {##}
               {##}
                {#                    <a href="{% url 'all patients' %}" class="btn btn-lg btn-secondary">Show non-deleted patients</a>#}
                {##}
                {#                    <a href="{% url 'all deleted patient' %}" class="btn btn-lg btn-secondary">Show deleted#}
                {#                        patient</a>#}
                {##}
                {#                    <a href="{% url 'create staff user' %}" class="btn btn-lg btn-secondary">Register new user as#}
                {#                        staff</a>#}
                {##}
                {#                    <a href="{% url 'all staffs' %}" class="btn btn-lg btn-secondary">Show all staff</a>#}
                {##}
                {#                    <a href="{% url 'all deleted staffs' %}" class="btn btn-lg btn-secondary">Show deleted staff</a>#}
                {##}
                {#                    <p>#}
                {#                        <a href="{% url 'create physician user' %}" class="btn btn-lg btn-secondary">Register new user#}
                {#                            as#}
                {#                            physician</a>#}
                {##}
                {#                        <a href="{% url 'all physicians' %}" class="btn btn-lg btn-secondary">Show all physicians</a>#}
                {##}
                {#                        <a href="{% url 'all deleted physicians' %}" class="btn btn-lg btn-secondary">Show deleted#}
                {#                            physicians</a>#}
                {#                    </p>#}
                {#                    <p>#}
                {#                        Analysis Fields#}
                {#                        <a href="{% url 'create analysis field' %}" class="btn btn-lg btn-secondary">Create new analysis#}
                {#                            field</a>#}
                {##}
                {#                        <a href="{% url 'all analysis fields' %}" class="btn btn-lg btn-secondary">Show all analysis#}
                {#                            fields</a>#}
                {##}
                {#                        <a href="{% url 'all deleted analysis fields' %}" class="btn btn-lg btn-secondary">Show deleted#}
                {#                            analysis fields</a>#}
                {#                    </p>#}
                {#                    <p>#}
                {#                        Analyses#}
                {#                        <a href="{% url 'create analysis' %}" class="btn btn-lg btn-secondary">Create new analysis</a>#}
                {##}
                {#                        <a href="{% url 'all analyses' %}" class="btn btn-lg btn-secondary">Show all analyses</a>#}
                {##}
                {#                        <a href="{% url 'all deleted analyses' %}" class="btn btn-lg btn-secondary">Show deleted#}
                {#                            analyses</a>#}
                {#                    </p>#}
                {##}
                {##}
            </div>
        </div>
    </div>

{% endblock %}
