{% extends 'main/base.html' %}
{% block page_content %}
    <div class="row justify-content-center">
        <h2>
            Found {{ all_analyses | length }} result(s)
        </h2>
    </div>
    {% if object_list %}

        <div class="table-responsive-md">
        <table class="table table-bordered">
            <tr class="first-table-row">
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Currency</th>
                <th scope="col">Turnaround Time [days]</th>
                <th scope="col">Analysis Fields</th>
                {% if user.is_authenticated %}
                    <th scope="col">Detail link</th>
                {% endif %}
            </tr>
            {% for analysis in object_list %}
                <tr>
                    <td>{{ analysis.name }}</td>
                    <td>{{ analysis.description }}</td>
                    <td>{{ analysis.price }}</td>
                    <td>{{ analysis.currency }}</td>
                    <td>{{ analysis.tat }}</td>
                    <td>{{ analysis.analysis_field.all | unordered_list }}</td>
                    {% if user.is_authenticated %}
                        <td><a href="{% url 'edit analysis' analysis.pk %}"> Detail </a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        No analyses to display!
    {% endif %}
</div>
    <div class="col-lg-3"></div>

{% endblock %}