{% extends 'main/base.html' %}
{% block page_content %}
    <h1 class="text-center">Edit Patient Form</h1>
    <div class="row">
        <div class="col-lg-6">
            <form method="post" action="{% url 'edit patient' profile.pk %}">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-primary mt-2" type="submit">Edit Patient</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
    <a href="{% url 'delete patient' profile.pk %}"> Delete Profile </a>
    </div>
{% endblock %}