{% extends 'main/base.html' %}
{% block page_content %}
    <h1 class="text-center">Edit Patient Form</h1>
        <br>
    <div class="d-flex justify-content-center">
        <form method="post" action="{% url 'edit patient' profile.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary mt-2" type="submit">Edit</button>
            </div>
        </form>
    </div>
    <p></p>
    <div class="d-flex justify-content-center">
        {% if deleted %}
            <a href="{% url 'delete patient' object.pk %}" class="btn btn-danger" role="button">Delete </a>
        {% else %}
            <a href="{% url 'restore patient' object.pk %}" class="btn btn-success" role="button">Restore </a>
        {% endif %}
    </div>
{% endblock %}