{% extends 'main/base.html' %}

{% block page_content %}
    <h1 class="text-center">Deleted departments List</h1>
    <br>
    <div class="row justify-content-md-center">
        {% if all_deleted_departments %}
            <div class="table-responsive-md">
            <table class="table table-bordered">
                <tr class="first-table-row">
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Telephone Number</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Restore</th>
                </tr>
                {% for department in all_deleted_departments %}
                    <tr>
                        <td>{{ department.name }}</td>
                        <td>{{ department.description }}</td>
                        <td>{{ department.telephone_number }}</td>
                        <td>{{ department.email }}</td>
                        <td><a href="{% url 'restore department' department.pk %}"> Restore</a></td>
                    </tr>
                {% endfor %}
            </table>

            {#            Start Pagination#}
            {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item"><a class="page-link">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            {#            End of Pagination#}
        {% else %}
            No departments to display!
        {% endif %}
        </div>
    </div>

{% endblock %}