{% extends 'main/base.html' %}

{% block page_content %}
    <h1 class="text-center">Deleted Analysis Fields List</h1>
    <div class="row">
        <div class="col-lg-3"></div>
                {% if all_deleted_analysis_fields %}
        <div class="table-responsive-md">
            <table class="table table-bordered">
                <tr class="first-table-row">
                    <th scope="col">Name</th>
                    <th scope="col">Measuring Unit</th>
                    <th scope="col">Reference Min Value (Male)</th>
                    <th scope="col">Reference Max Value (Male)</th>
                    <th scope="col">Reference Min Value (Female)</th>
                    <th scope="col">Reference Max Value (Female)</th>
                    <th scope="col">Comment when value outside reference range</th>
                    <th scope="col">Restore link</th>
                </tr>
                {% for analysis_field in all_deleted_analysis_fields %}
                    <tr>
                        <td>{{ analysis_field.name }}</td>
                        <td>{{ analysis_field.unit }}</td>
                        <td>{{ analysis_field.male_min }}</td>
                        <td>{{ analysis_field.male_max }}</td>
                        <td>{{ analysis_field.female_min }}</td>
                        <td>{{ analysis_field.female_max }}</td>
                        <td>{{ analysis_field.comment }}</td>
                        <td><a href="{% url 'restore analysis field' analysis_field.pk %}"> Restore</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                        {% endif %}
                    {% else %}
                    No deleted analysis fields to display!
        {% endif %}
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}