{% extends 'main/base.html' %}

{% block page_content %}
    <h1 class="text-center">Deleted Health Facilities List</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        {% if all_deleted_facilities %}
            <div class="table-responsive-md">
            <table class="table table-bordered">
                <tr class="first-table-row">
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">VAT</th>
                    <th scope="col">Contact Person</th>
                    <th scope="col">Telephone Number</th>
                    <th scope="col">e-mail</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Restore Link</th>
                </tr>
                {% for facility in all_deleted_facilities %}
                    <tr>
                        <td>{{ facility.name }}</td>
                        <td>{{ facility.address }}</td>
                        <td>{{ facility.city }}</td>
                        <td>{{ facility.vat }}</td>
                        <td>{{ facility.contact_person }}</td>
                        <td>{{ facility.telephone_number }}</td>
                        <td>{{ facility.email }}</td>
                        <td>{{ facility.comments }}</td>
                        <td><a href="{% url 'restore health facility' facility.pk %}"> Restore</a></td>
                    </tr>
                {% endfor %}
            </table>
            {#            Start Pagination#}
            {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item"><a class="page-link">{{ i }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            {#            End of Pagination#}
        {% else %}
            No deleted health facilities to display!
        {% endif %}
        </div>
    </div>
{% endblock %}