{% extends 'main/base.html' %}

{% block page_content %}
    <h1 class="text-center">All Patients List</h1>
    <div class="row">
        <div class="col-lg-3"></div>
                {% if all_patients %}
        <div class="col-lg-6">
            <table class="table table-bordered">
                <tr class="first-table-row">
                    <th scope="col">pid</th>
                    <th scope="col">pid_type</th>
                    <th scope="col">full_name</th>
                    <th scope="col">Detail link</th>
                </tr>
                {% for patient in all_patients %}
                    <tr>
                        <td>{{ patient.pid }}</td>
                        <td>{{ patient.pid_type }}</td>
                        <td>{{ patient.full_name }}</td>
                        <td><a href="{% url 'show details patient' patient.pk %}"> Details</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                        {% endif %}
                    {% else %}
                    No Patients
        {% endif %}
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}