{% extends 'main/base.html' %}

{% block page_content %}
    <h1 class="text-center">Deleted departments List</h1>
    <div class="row">
        <div class="col-lg-3"></div>
                {% if all_deleted_departments %}
        <div class="table-responsive-md">
            <table class="table table-bordered">
                <tr class="first-table-row">
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Telephone Number</th>
                    <th scope="col">e-mail</th>
                    <th scope="col">Action</th>
                </tr>
                {% for department in all_deleted_departments %}
                    <tr>
                        <td>{{ department.name }}</td>
                        <td>{{ department.description }}</td>
                        <td>{{ department.telephone_number }}</td>
                        <td>{{ department.email }}</td>
                        <td><a href="{% url 'restore department' department.pk %}"> {{ department.name }} restore</a></td>
                    </tr>
                {% endfor %}
            </table>
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                        {% endif %}
                    {% else %}
                    No departments to display!
        {% endif %}
        </div>
        <div class="col-lg-3"></div>
    </div>
{% endblock %}