{% extends 'main/base.html' %}

{% block page_content %}
    <h1 class="text-center">Edit Health Facility Form</h1>
    <div class="row">
        <div class="col-lg-6">
            <form method="post" action="{% url 'edit health facility' facility.pk %}">
                {% csrf_token %}
                {{ form }}

                <button class="btn btn-primary mt-2" type="submit">Edit Health Facility</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <a href="{% url 'delete health facility' facility.pk %}"> Delete health facility </a>
    </div>
{% endblock %}